.faq-section {
  padding: 175px 0;
  &__heading {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .faq-section {
    padding: 105px 0;
    &__heading {
      margin-bottom: 50px;
    }
  }
}