.footer {
  &__wrap {
    padding: 90px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__copyright {
    margin: 0px 0px 90px 90px;
    font-family: $quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #AEB8D0;
  }
  &__btn {
    transition: all .3s ease-in-out;
    &:hover, 
    &:focus {
      color: $white;
      background-color: $green;
      border: 2px solid $green;
      outline: $green;
    }
  }
}