html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  font-size: 15px;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: inherit;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1265px;
  padding: 0px 15px;
  margin: 0 auto;
  &--sm {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  }
  &--no-padding {
    padding: 0;
  }
}

.border--bottom {
  border-bottom: 1px solid #D8E3FE;
}

.logo {
  width: 47px;
  height: 48px;
  transition: opacity .2s linear;
  &:hover,
  &:focus {
    opacity: .7;
  }
}

.section__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  /* Цвета */
  &--blue {
    color: $blue;
  }
  &--black {
    color: $black;
  }
  /* Размеры */
  &--default {
    font-size: 24px;
    line-height: 29px;
  }
  &--lg {
    font-size: 28px;
    line-height: 33px;  
  }
}

.section__suptitle {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  /* Цвета */
  &--black {
    color: $black;
  }
  &--blue {
    color: $blue;
  }
  /* Отступ */
  &--m-lg {
    text-align: left;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .section__suptitle {
    &--m-lg {
      margin-bottom: 20px;
    }
  }
}