.header {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__btn {
    transition: all .3s ease-in-out;
    &:hover, 
    &:focus {
      color: $accent;
      border: 2px solid $accent;
      outline: $accent;
    }
  }
}
