.info {
  display: flex;
  &__courses {
    width: 50%;
    direction: rtl;
    padding: 66px 0;
  }
  &__lectors {
    width: 50%;
    padding: 66px 0;
    background-color: $lightGrey;
  }
  &__item {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 90px;
    &--revert {
      margin-left: 90px;
    }
  }
  &__img {
    width: 68px;
    height: 63px;
    margin-bottom: 12px;
  }
  &__num {
    color: $accent;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 80px;
    letter-spacing: 0.03em;
  }
  &__text {
    margin: 0;
    color: $black;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-align: right;
    &--revert {
      text-align-last: left;
    }
  }
}