.reviews {
  padding: 110px 0px;
  background-color: $lightGrey;
  overflow: hidden;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__heading {
    margin-right: 110px;
    padding-left: 160px;
    flex-shrink: 0;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .reviews {
    padding: 80px 0;
    &__heading {
      margin-right: 90px;
      padding-left: 90px;
    }
  }
}