.slider {
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__item {
    min-width: 420px;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px #D8E3FE;
    padding: 40px 70px 50px;
    opacity: 0.5;
    position: relative;
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  &__text {
    margin: 0;
    color: $blue;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  &__author {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 50%;
  }
}

.current {
  opacity: 1;
}