.slider {
  &__wrap {
    display: flex;
    align-items: center;
    max-width: 900px;
    overflow-x: visible;
  }
  &__item {
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    padding: 40px 70px 50px;
    opacity: 0.5;
    position: relative;
    margin-right: 60px;
  }

  &__text {
    margin: 0;
    color: $blue;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  &__author {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 50%;
  }
}

.slick-list {
  max-width: 950px;
}

.slick-track {
  width: inherit!important;
  display: flex;
}

.slick-dots {
  bottom: -85px;
  left: 140px;
  text-align: left;
}

.slick-slide {
  outline: none;
}

.slick-slide+.slick-current+.slick-active {
  width: 480px!important;
}


.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.current {
  opacity: 1;
}